## Mission to Mars

### Step 1

In [57]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import pymongo

In [58]:
# open chrome driver browser
executable_path = {'executable_path': 'C:/Users/dave/chromedriver_win32/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

#### Nasa Mars News

In [3]:
# add URL for NASA Mars News Site
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
# create Beautiful Soup object 
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [6]:
# retrieve information for first slide
articles = soup.select_one('ul.item_list li.slide')
articles

<li class="slide"><div class="image_and_description_container"><a href="/news/8749/nasa-readies-perseverance-mars-rovers-earthly-twin/" target="_self"><div class="rollover_description"><div class="rollover_description_inner">Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape.</div><div class="overlay_arrow"><img alt="More" src="/assets/overlay-arrow.png"/></div></div><div class="list_image"><img alt="Engineers test drive Perseverance Mars rover's twin." src="/system/news_items/list_view_images/8749_PIA23964-320.jpg"/></div><div class="bottom_gradient"><div><h3>NASA Readies Perseverance Mars Rover's Earthly Twin </h3></div></div></a><div class="list_text"><div class="list_date">September  4, 2020</div><div class="content_title"><a href="/news/8749/nasa-readies-perseverance-mars-rovers-earthly-twin/" target="_self">NASA Readies Perseverance Mars Rover's Earthly Twin </a></div><div class="article_teaser_body">Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape.</div></div></div></li>

In [7]:
# find first news title and assign to variable
news_title = articles.find('div', class_='content_title').get_text()
print(news_title)

NASA Readies Perseverance Mars Rover's Earthly Twin

In [8]:
news_p = articles.find('div', class_='article_teaser_body').get_text()
print(news_p)

Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape.

####  JPL Mars Space Images - Featured Image

In [9]:
# add URL for JPL Mars Space Images site
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [10]:
# go to 'full image'
full_image = browser.find_by_id('full_image')
full_image.click()

In [11]:
# go to 'more info'
browser.is_element_present_by_text('more info', wait_time=1)

False

In [12]:
more_info = browser.links.find_by_partial_text('more info')
more_info.click()

In [13]:
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')
# Retrieve all elements that contain image information
image_url = soup.select_one('figure.lede a img').get('src')
print(image_url)

/spaceimages/images/largesize/PIA17661_hires.jpg

In [14]:
# set variable to full url path
featured_image_url = 'https://www.jpl.nasa.gov' + image_url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17661_hires.jpg

#### Mars Facts

In [15]:
# use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
# use Pandas to convert the data to a HTML table string

In [16]:
# add URL for Mars Facts Site
url = 'https://space-facts.com/mars/'

In [17]:
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [18]:
type(tables)

list

In [19]:
facts_df = tables[0]
facts_df.columns = ['Description', 'Value']
facts_df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [20]:
html_table = facts_df.to_html(index=False)
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th>Description</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [21]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th>Description</th>      <th>Value</th>    </tr>  </thead>  <tbody>    <tr>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [22]:
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Description</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

#### Mars Hemispheres

In [73]:
# add URL for USGS Astrogeology site
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [74]:
# create empty list for data
hemisphere_data = []

In [75]:
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [76]:
# Retrieve all 'items' that contain image information
results = soup.find_all('div', class_='item')
results

[<div class="item"><a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png"/></a><div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><h3>Cerberus Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 21 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquired…</p></div> <!-- end description --></div>,
 <div class="item"><a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><img alt="Schiaparelli Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png"/></a><div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><h3>Schiaparelli Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 35 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Schiaparelli hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The images were acquired in 1980 during early northern…</p></div> <!-- end description --></div>,
 <div class="item"><a class="itemLink product-item" href="/search/map/Mars/Viking/syrtis_major_enhanced"><img alt="Syrtis Major Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png"/></a><div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/syrtis_major_enhanced"><h3>Syrtis Major Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 25 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Syrtis Major hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of about 100 red and violet…</p></div> <!-- end description --></div>,
 <div class="item"><a class="itemLink product-item" href="/search/map/Mars/Viking/valles_marineris_enhanced"><img alt="Valles Marineris Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png"/></a><div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/valles_marineris_enhanced"><h3>Valles Marineris Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 27 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Valles Marineris hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The distance is 2500 kilometers from the surface of…</p></div> <!-- end description --></div>]

In [86]:
# Iterate through each item
for result in results:   
    
    # go to 'hires image'
    hemi_link = browser.find_by_tag('h3')
    hemi_link.click()
    
    # get hemisphere name
    title = results.find_by_tag('h2').text
    title = title.replace(" Enhanced", "")
    print(title)
    
    # get image url
    img_url = results.find('a')['href']
    print(img_url)
    
    # store data in dictionary
    hemisphere_data.append({'title': title, 'img_url': img_url})
    
    browser.back()

AttributeError: ResultSet object has no attribute 'find_by_name'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?

In [87]:
print(hemisphere_data)

[]

In [ ]:
# hemisphere_image_urls = [
#     {"title": "Valles Marineris Hemisphere", "img_url": "..."},
#     {"title": "Cerberus Hemisphere", "img_url": "..."},
#     {"title": "Schiaparelli Hemisphere", "img_url": "..."},
#     {"title": "Syrtis Major Hemisphere", "img_url": "..."},
# ]

In [ ]:
# browser.back()
# browser.url
# browser.find_by_css('h1')
# browser.find_by_xpath('//h1')
# browser.find_by_tag('h1')
# browser.find_by_name('name')
# browser.find_by_text('Hello World!')
# browser.find_by_id('firstheader')
# browser.find_by_value('query')
# first_found = browser.find_by_name('name').first
# browser.find_by_tag('h1').click()
# browser.find_by_tag('h1').double_click()
# browser.click_link_by_text('my link')
# browser.click_link_by_id('link_id')
# browser.visit('https://splinter.readthedocs.io/')
# browser.is_text_present('splinter', wait_time=10) # True, using wait_time
# browser.is_element_present_by_name('name')
# browser.is_element_present_by_text('Hello World!')
# browser.is_element_present_by_id('firstheader')

### Step 2

#### MongoDB and Flask Application

In [ ]:
MongoDB and Flask Application

In [ ]:
# Use MongoDB with Flask templating to create a new HTML page that displays all of the 
# information that was scraped from the URLs above

In [ ]:
# scrape_mars.py

In [ ]:
# create a route called `/scrape`

In [ ]:
# Store the return value in Mongo as a Python dictionary

In [ ]:
# Create a root route `/` that will query your Mongo database and pass the mars 
# data into an HTML template to display the data

In [ ]:
# Create a template HTML file called `index.html` that will take the mars data 
# dictionary and display all of the data in the appropriate HTML elements